  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.png">
    <link rel="mask-icon" href="img/favicon.svg" color="#B50000">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="img/favicon-152x152.png">
    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="img/favicon-167x167.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="img/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="48x48" href="img/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon-192x192.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    {{ $style := resources.Get "css/main.css" }}{{ $css := $style | minify | fingerprint }}<link rel="stylesheet" href="{{ $css.Permalink }}">
  </head>
