  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    {{ $style := resources.Get "css/main.css" }}{{ $style = $style | fingerprint }}<link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
